[submodule "Libraries/SystemEx"]
	path = Libraries/SystemEx
	url = git@github.com:igadmg/SystemEx.git
[submodule "Libraries/MathEx"]
	path = Libraries/MathEx
	url = git@github.com:igadmg/MathEx.git
[submodule "Libraries/ProcGenEx"]
	path = Libraries/ProcGenEx
	url = git@github.com:igadmg/ProcGenEx.git
[submodule "Libraries/UnityDissolve"]
	path = Libraries/UnityDissolve
	url = git@github.com:igadmg/UnityDissolve.git
[submodule "Libraries/UnityEngineEx"]
	path = Libraries/UnityEngineEx
	url = git@github.com:igadmg/UnityEngineEx.git
[submodule "Libraries/DOTweenEx"]
	path = Libraries/DOTweenEx
	url = git@github.com:igadmg/DOTweenEx.git
